* {
	box-sizing: border-box;
	--nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))

}

body {
	/* font-family: 'Russo One', sans-serif; */
	padding: 0px;
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
}

:root {
	--primary-color: #1B6CBD;
}

header {
	/* position: absolute; */
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 25px;
	/* background-color: aquamarine; */
}

.logo-div {
	display: flex;

}

.logo-div h1 {
	font-family: 'Russo One', sans-serif;
	font-weight: 100;
	color: var(--primary-color);
	font-size: 25px;
	padding-top: 20px;
	padding-left: 15px;
	letter-spacing: 2px;
}

nav {
	
	/* background-color: black; */
	padding-top: 20px;
	margin: 0;

}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

nav li {
	padding: 0px 10px;
	
	
}
/* nav li {
	
	transition: transform 250ms ease-in, filter 250ms ease-in;
	
} */
nav li:hover {
	transform: scale(1.1);
	filter: brightness(1.1);

	
}




nav a {
	color: var(--primary-color);
	text-decoration: none;
	font-family: 'Russo One', sans-serif;
	font-size: 25px;



}
nav a:active {
	color: white;


}
nav a:visited {
}


header img {
	height: 75px;
}

header img:hover {

}


main {
	margin: auto 150px;
	/* background-color: aqua; */
}

section {
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto 60px;
	/* background-color: aqua; */
	margin: 75px;
	opacity: 1;
	/* transition: opacity 250ms ease-in; */
	transition: opacity 250ms ease-in;

}

main h1 {
	font-family: 'Russo One', sans-serif;
	color: var(--primary-color);
	text-align: center;
	letter-spacing: 4px;	
}

main p {
	text-align: center;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: 2px;

}
main p span {
	color: var(--primary-color);
	font-weight: 600;
}

.section-buttons{
	display: flex;
	justify-content: center;
	
	/* background-color: aquamarine; */
}

.section-buttons a {
	transition: transform 80ms ease-in, filter 80ms ease-in;
	/* background-color: aquamarine; */
}
.section-buttons a:hover {
	transform: scale(1.1);
	filter:brightness(1.1);

	/* background-color: aquamarine; */
}


main a {
	font-family: 'Russo One', sans-serif;
	color: #FFF;
	background: var(--primary-color);
	border-radius: 4px;
	padding: 10px;
	text-decoration: none;
	/* background-color: black; */
}

.ham-menu {
	display: none;
	z-index: 1;
	transition: all 80ms ease-in;
	/* background-color: #1B6CBD; */
}

.ham-menu span {
	display: block;
	width: 45px;
	height: 8px;
	margin: 5px;
	background-color: #1B6CBD;
	border-radius: 7px;
	/* transform: scale(1); */
	transition: transform 250ms ease-in;

	/* transform: rotate(0deg); */
	
}
.ham-menu:hover {
	cursor: pointer;
	transform: scale(1.1);
	filter: brightness(1.2);
	
	
}

.ham-menu:active {
	transform: scale(1.1);
	filter: brightness(1.2);
	
}


.ham-menu span:nth-child(1) {
	/* transform: rotate(0deg); */

}
.ham-menu span:nth-child(2) {
	/* transform: rotate(0deg); */

}

.ham-menu span:nth-child(3) {
	margin-top: -13px;

	/* transform: rotate(0deg); */

}

.ham-menu span:nth-child(4) {
	/* margin-top: -20px; */
	/* transform: rotate(0deg); */

}

.temp-hide {
	opacity: 0;
	/* display: none; */
}
.hide-para {
	display: none;
}

.container {
	/* filter: blur(10px); */
}

.rotate-bar-45-flip {
	transform: rotate(-45deg);
}
.rotate-bar-45 {
	transform: rotate(45deg);
}


.hide-bar {
	transform: scale(0);

}


.active-menu {
	display: none;
	transform:translateX(110%);
	z-index: 1;
	position: fixed;
	right: 0;
	width: 65%;
	height: 100%;
	background-color: white;
	color: white;
	box-shadow: -12px 0px 29px -10px rgba(0,0,0,0.75);
	transition: transform 250ms ease-in;

}

.menu-active {
	/* display: unset; */
	/* opacity: 1; */
	transform:translateX(0%);

}

.active-menu h1 {
	font-family: 'Russo One', sans-serif;
	color: #1B6CBD;
	width: 100%;
	/* word-spacing: 9999px; */
	/* word-wrap: break-word; */
	text-align: center;
	margin-top: 35px;
	padding-left: 25px;
	padding-right: 100px;
	/* padding: 0 25px; */
}

.active-menu ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 10px 0px;
	padding: 0px 0px;
	width: 100%;
	height: 50%;
}

.active-menu li {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 25px 0px;
	transition: transform 100ms ease-in, filter 100ms ease-in;	
	
}

.active-menu li:hover, .active-menu li:active {
	filter:brightness(1.1);
	transform:scaleY(1.1);
	cursor: pointer;
	
	
}






.active-link {
	background-color: #1B6CBD;
	padding: 8px;
	color: white !important;
	border-radius: 4px;
	height: 100%;
	width: 100%;
	/* padding: 50px 0px; */
	
	
}

.active-menu a {
	font-size: 22px;
	text-decoration: none;
	color: var(--primary-color);
	font-family: 'Russo One', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
	
}


.active-menu li>a:active {
	color: white;
	
}

@media (max-width: 732px) {
	.ham-menu {
		display: unset;
		/* background-color: #1B6CBD; */
	}
	.active-menu {
		display:unset;
	}
	nav {
		display: none;
	}

	header img {
		height: 55px;
	}
	.logo-div h1 {
		text-align: center;
		font-size: 20px;
		word-spacing: 9999px;
		word-wrap: break-word;
		padding: 0px;
		margin: 0px;
	}
	.logo-div {

	}
	main {
		margin: auto 50px;
		display: flex;
		overflow: hidden;

	}
	section {
		/* background-color: blue; */
	}


	
}

